<nav class="navbar navbar-light bg-light justify-content-between">
  <%= link_to "Simple Airbnb", flats_path, class:"navbar-brand ms-3" %>
  <%= link_to "Add Flat", new_flat_path, class:"btn btn-outline-primary my-2 my-sm-0 me-3" %>
</nav>
